footer {
    background-color: darkblue;
    padding: 10px;
    border: solid 1px wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        width: 28vw;
        color: white;
        font-style: italic;
        font-size: 17px;
    }
    .secciones2{
        list-style-type: none;
        padding-right: 9vw;
        display: flex;
        li{
            a{
                color: white;
                img{
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 4vw;
                }
                .twitter{
                    padding-top: 5px;
                }
            }
        }
    }
}