// propiedades que se comparten entre todas las secciones//
main{
    background-color: black;
}

.gif-y-subtitulo{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .gif{
        width: 30vw;
        margin-top: 15px;
    }
}
// la clase subtitulo se usa en otras partes del codigo ademas de la clase "gif-y-subtitulo" por eso lo pongo afuera//
.subtitulo{
    max-width: 50vw;
    color: white;
    font-size: 40px;
    text-decoration: underline;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.titulo{
    width: 250px;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    &:hover{
        transform: scale(2, 2);
        transition: transform 2s;
    }
}
// este mixin se utiliza en los 5 html para darle forma al texto
@mixin texto($width, $color, $font-size, $text-aling){
    width: $width;
    color: $color;
    font-size: $font-size;
    text-align: $text-aling;
}