header{
    background-color: darkblue;
    border: solid 1px wheat;
    padding-bottom: 1vh;
    padding-top: 1vh;
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img{
            width: 150px;
            margin-bottom: 20px;
        }
        .secciones{
            display: flex;
            list-style-type: none;
            li{
                margin-left: 5px;
                margin-right: 5px;
                a{
                    color: white;
                    &:hover{
                        background-color: black;
                        border: solid 1px wheat;
                    }
                }
            }
        }
    }
}

