// media tablet//

@media(max-width: 768px){
    .gif{
        width: 50vw;
    }
    // main index//
    .mainIndex{
        .casa{
            width: 50vw;
        }
        .introduccion{
            margin-left: 80px;
        }
    }
    // main historia//
    .mainHistoria{
        .historia1{
            flex-direction: column;
            align-items: center;
            img{
                max-width: 50vw;
            }
        }
    }
    // main sospechosos//
    .mainSospechosos{
        section{
            .textoSospechoso{
                margin-right: 30px;
            }
        }
        .seccionSospechoso1-y-3{
            .adolescente{
                max-width: 50vw;
            }
        }
    }
    // main pistas//
    .gridPistas{
        grid-template-areas:
            "imagen1"
            "imagen2"
            "imagen3"
            "imagen4"
            "imagen5"
            "imagen6"
            "imagen7"
            "textoSinImagen";
        justify-content: center;
        .imagenes{
            width: 70vw;
        }
        .textoDeImagen{
            width: 50vw;
            font-size: 20px;
        }
    }
    .hipotesis{
        width: 70vw;
    }
}
// media telefono//

@media(max-width:576px){
    header{
        nav{
            padding: 10px;
            img{
                width: 150px;
                padding-bottom: 20px;
            }
            .titulo{
                width: 200px;
                color: white;
                font-size: 20px;
                padding-bottom: 20px;
            }
            .secciones{
                flex-direction: column;
            }
        }
    }
    .gif-y-subtitulo{
        .gif{
            width: 70vw;
        }
    }
    .subtitulo{
        max-width: 90vw;
    }
    // main index//
    .mainIndex{
        .casa{
            width: 70vw;
        }
        p{
            width: 40vw;
        }
    }
    // main historia//
    .mainHistoria{
        section{
            .historiaTexto{
                width: 70vw;
            }
        }
    }
    // main sospechosos//
    .mainSospechosos{
        section, .seccionSospechoso2-y-4{
            flex-direction: column;
            .textoSospechoso{
                width: 70vw;
            }
            img{
                margin-top: 20px;
                max-width: 80vw;
            }
        }
    }
    // main pistas//
    .subitutuloHipotesis{
        .hipotesis{
            width: 80vw;
        }
    }
    // main formulario//
    .formulario{
        .tituloDeCuadro{
            font-size: 20px;
        }
        .noticias{
            font-size: 20px;
        }
    }
    .footer{
        flex-direction: column;
        p{
            width: 90vw;
            padding-bottom: 20px;
        }
        .secciones2{
            padding-top: 20px;
        }
    }
}